#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100vw;
    height: 100vh;
}

h1 {
    box-shadow: 10px 5px 5px #379eaca9;
    border-radius: 5px;
    margin: 5px;
}