button {
  background-color: white;
  box-shadow: 10px 5px 5px #379eaca9;
  border: 1px solid #379eaca9;
  border-radius: 10px;
  padding: 3px 5px;
  margin: 25px 10px;
  width: 150px;
  font-size: 20px;
  cursor: pointer;
  color: #379eac;
}

button:hover {
  background: linear-gradient(-65deg, #5dbfcca9, white);
  color: rgba(0, 0, 0, 0.849);
}
