@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100vw;
    height: 100vh;
}

h1 {
    box-shadow: 10px 5px 5px #379eaca9;
    border-radius: 5px;
    margin: 5px;
}